src/main/mule/worlddemoapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de4854f3-066c-4a3e-91fc-4f23b231e31f" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9726f1cf-f7a1-4c03-b331-e4ba2f54594d" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worlddemoapiFlow" doc:id="6a4ff6f1-e9d9-42db-962c-82adb8865aaf" >
		<http:listener doc:name="Listener" doc:id="405e3707-54a5-4f0b-adda-9505a324be5a" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3a126582-e699-4a45-8859-2cce9722acd2" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="32712e39-2327-4c87-b517-c87e789166a9" message="#[payload]"/>
	</flow>
</mule>
